{% extends 'home.html' %}

{% block title %}Політика конфіденційності{% endblock %}

{% block content %}
<div class="container mt-5" style="max-height: 80vh; overflow-y: auto;">
    <h1 class="mb-4">Політика конфіденційності</h1>
    <p class="mb-3">
        Ми цінуємо вашу довіру та зобов’язуємося захищати вашу особисту інформацію. У цій політиці конфіденційності
        ми пояснюємо, як збираємо, використовуємо та зберігаємо ваші дані.
    </p>
    <h2 class="mt-4">1. Які дані ми збираємо</h2>
    <p>
        Ми можемо збирати такі дані:
        <ul>
            <li>Ім'я користувача та адреса електронної пошти, які ви надаєте при реєстрації.</li>
            <li>Дані, які автоматично збираються під час вашого використання сайту, такі як IP-адреса, тип браузера та операційна система.</li>
        </ul>
    </p>
    <h2 class="mt-4">2. Як ми використовуємо ваші дані</h2>
    <p>
        Зібрана інформація може бути використана для:
        <ul>
            <li>Надання послуг та підтримки.</li>
            <li>Поліпшення функціоналу сайту.</li>
            <li>Надсилання сповіщень чи оновлень.</li>
        </ul>
    </p>
    <h2 class="mt-4">3. Захист ваших даних</h2>
    <p>
        Ми вживаємо відповідних заходів безпеки для захисту вашої інформації від несанкціонованого доступу, зміни чи видалення.
    </p>
    <h2 class="mt-4">4. Ваші права</h2>
    <p>
        Ви маєте право:
        <ul>
            <li>Знати, які дані ми збираємо про вас.</li>
            <li>Звернутися до нас із проханням видалити вашу інформацію.</li>
            <li>Відмовитися від отримання повідомлень.</li>
        </ul>
    </p>
    <h2 class="mt-4">5. Зв'язатися з нами</h2>
    <p>
        Якщо у вас є запитання щодо нашої політики конфіденційності, зв'яжіться з нами через звернення і форму зворотного зв’язку</a>.
    </p>
    <p class="mt-4 text-muted">
        Останнє оновлення політики: {{ date_updated|default:"1 січня 2025 року" }}
    </p>
</div>
{% endblock %}
