{% extends 'home.html' %}

{% block title %}Умови використання{% endblock %}

{% block content %}
<div class="container mt-5" style="max-height: 80vh; overflow-y: auto;">
    <h1 class="mb-4">Умови використання</h1>
    <p class="mb-3">
        Використовуючи наш сайт, ви погоджуєтесь з цими умовами. Будь ласка, уважно ознайомтесь із ними,
        щоб уникнути непорозумінь.
    </p>
    <h2 class="mt-4">1. Використання сайту</h2>
    <p>
        <ul>
            <li>Сайт призначений для особистого, некомерційного використання.</li>
            <li>Забороняється розповсюдження, модифікація або використання вмісту сайту без нашого дозволу.</li>
        </ul>
    </p>
    <h2 class="mt-4">2. Реєстрація та обліковий запис</h2>
    <p>
        <ul>
            <li>Ви зобов'язані надавати точну та актуальну інформацію при реєстрації.</li>
            <li>Відповідальність за збереження конфіденційності ваших облікових даних покладається на вас.</li>
        </ul>
    </p>
    <h2 class="mt-4">3. Відповідальність користувача</h2>
    <p>
        Ви погоджуєтесь:
        <ul>
            <li>Не використовувати сайт для незаконної діяльності.</li>
            <li>Не завантажувати шкідливе програмне забезпечення чи вміст, який може завдати шкоди іншим користувачам.</li>
        </ul>
    </p>
    <h2 class="mt-4">4. Відмова від відповідальності</h2>
    <p>
        Ми не несемо відповідальності за будь-які збитки, пов’язані з використанням сайту, у тому числі за технічні помилки або втрату даних.
    </p>
    <h2 class="mt-4">5. Зміни в умовах</h2>
    <p>
        Ми залишаємо за собою право змінювати ці умови в будь-який час. Зміни набувають чинності з моменту їх публікації на цій сторінці.
    </p>
    <h2 class="mt-4">6. Зв'язатися з нами</h2>
    <p>
        Якщо у вас виникли запитання щодо цих умов, будь ласка, зв'яжіться з нами через звернення і форму зворотного зв’язку</a>.
    </p>
    <p class="mt-4 text-muted">
        Останнє оновлення умов використання: {{ date_updated|default:"1 січня 2025 року" }}
    </p>
</div>
{% endblock %}
